  <div class="bs-callout bs-callout-info" id="callout-help-text-accessibility">
    <h4>Selecting a project to view detailed information</h4>
    <p>Please select a project from the navigation bar to view the versions for the project.
    Selecting the versions will display the average performance statistics of the project.</p>
  </div>

 <div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">Last project update</h3>
  </div>
  <div class="panel-body">
    Last updated project details

  </div>
  <!-- Table -->
  <table class="table">
        <thead>
          <tr>
            <th>#</th>
            <th>Project</th>
            <th>Version</th>
            <th>build</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td class="project">{{project}}</td>
            <td class="version">{{version}}</td>
            <td class="build">{{build}}</td>
          </tr>
        </tbody>
      </table>
</div>

