<div role="tabpanel">

  <!-- Nav tabs -->
  <ul id="myTab" class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Home</a></li>
  <li role="presentation"><a href="#config" aria-controls="config" role="tab" data-toggle="tab">Config</a></li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="home">
            <div class="bs-callout bs-callout-info" id="callout-help-text-accessibility">
          <h4>Showing version of project : {{project}}</h4>
          <p>Select one of the version to view details</p>
        </div>
        <div class="row version-search-container">
            <div class="col-lg-3">
              <div class="input-group">
                <span class="input-group-btn">
                  <button class="search-version btn btn-default" type="button">Go!</button>
                </span>
                <input type="text" class="version-search-text form-control" placeholder="Search for...">
              </div><!-- /input-group -->
            </div><!-- /.col-lg-3 -->
        </div>
        <div class="row">
        <nav class="history-scroll-box carousel">
            <div class="history-container">
                <ol class="list-inline">
                  {{#versions}}
                  <li><div class="panel panel-green">
                              <div class="panel-heading">
                                  <div class="row">
                                      <div class="col-xs-3">
                                          <i class="fa fa-check fa-5x"></i>
                                      </div>
                                      <div class="col-xs-7 text-right">
                                          <div class="version huge">{{.}}</div>
                                          <div>Success %</div>
                                      </div>
                                     <div class="col-xs-2 text-right">
                                          <i class="fa fa-square-o fa-2x compare"></i>
                                      </div>
                                  </div>
                              </div>
                              <a>
                                  <div class="panel-footer">
                                      <span class="pull-left">View Details</span>
                                      <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                      <div class="clearfix"></div>
                                  </div>
                              </a>
                          </div></li>
                  {{/versions}}
                </ol>
            <div>
        <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
          <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
          <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </nav>
      </div>
       <div class="row">
        <div class="panel panel-info">
        <div class="panel-heading"><h3 class="panel-title">Reviews being compared</h3></div>
          <div class="panel-body">
            <div class="selection-panel">

            </div>
          </div>
          <div class="panel-footer">
            <button type="button" class="btn btn-primary compare-button">Compare</button>
          </div>
        </div>
        </div>
       </div>

      <div class="row">
        <div class="bar-chart-version">
          <svg class="chart-bar"></svg>
        </div>
      </div>
       <div class="row">
        <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="headingOne">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                Collapsible Group Item #1
              </a>
            </h4>
          </div>
          <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
            <div class="panel-body">
             <div class="version-table"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div role="tabpanel" class="tab-pane" id="config">
      <form class="navbar-form navbar-left" role="search">
        <div class="form-group">
          {{#samples}}
            <div class="row">
              <div class="col-lg-12">
                <div class="input-group">
                  <span class="input-group-addon">
                    <input type="checkbox" aria-label="..." class="{{.}}">
                  </span>
                  <label class="form-control" for="{{.}}">{{.}}</label>
                </div><!-- /input-group -->
              </div><!-- /.col-lg-6 -->
           </div><!-- /.row -->
           {{/samples}}

           <div class="row top-buffer">
          <div class="col-lg-6">
            <button type="submit" class="btn btn-default">Set Samples</button>
          </div>
        </div>
        </div>
      </form>
  </div>

</div>



